/* IMPORTANDO FONTE DE TEXTO */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* DECLARACAO DE VARIAVEIS */
:root{
    --color-black: black;
    --color-white: white;
    --color-section-1: #294188;
    --color-section-2: #e4d30e;
    --color-text-primary: #f4f5dd;
}

/* FORMATACOES PADRAO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style-type: none;
    font-family: "Roboto", sans-serif;
    
}

/* BODY */
/* body {
    display: flex;
    height: 100vh;
} */

/* CABECALHO */
header {
    display: flex; /* PERMITE ORGANIZAR OS ITENS DE FORMA FLEXIVEL*/
    width: 100%; /* DEFINE A LARGURA DO CABECALHO */
    height: 60px; /* DEFINE A ALTURA DO CABECALHO */
    position: fixed; /* CABECALHO PERMANECE FIXO MESMO APOS ROLAGEM DE TELA */
    top: 0; /* POSICIONA O CABECALHO NO TOPO DA PAGINA */
    background-color: var(--color-black); /* DEFINE O PLANO DE FUNDO DO CABECALHO */
    text-align: center; /* CENTRALIZA HORIZONTALMENTE O TEXTO DENTRO DO CABECALHO */
    align-items: center; /* ALINHA VERTICALMENTE O TEXTO DENTRO DO CABECALHO */
    justify-content: space-between; /* DISTRIBUI OS ELEMENTO COM ESPACOS ENTRE ELES */
    padding: 0 2rem; /* DEIXAR ESPACAMENTO EM CIMA E EMBAIXO ZERADOS E DEFINE NA DIREITA E ESQUERDA */
}

/* MENU DO CABECALHO */
.menu-desktop ul {
    display: flex; /* PERMITE ORGANIZAR OS ITENS DE FORMA FLEXIVEL */
    gap: 2rem; /* DEFINE ESPACAMENTO ENTRE OS ITENS */
    font-size: 16px; /* DEFINE TAMANHO DA FONTE DOS ITENS */
    font-weight: 600; /* DEFINE A ESPESSURA DA FONTE DOS ITENS */
}

/* LINKS NO MENU DO CABECALHO */
.menu-desktop ul li a {
    color: var(--color-text-primary); /* DEFINE A COR DO TEXTO */
}

.menu-desktop ul li a:hover {
    padding-bottom: .1rem; /* DEFINE TEXTO E LINHA */
    border-bottom: .1rem solid var(--color-text-primary); /* DEFINE COR E ESPESSURA DE LINHA */
}

/* MAIN - BANNER INICIAL*/
main section .banner {
    width: 100%; /* DEFINE A LARGURA DO ELEMENTO */
    height: auto; /* DEFINE A ALTURA DO ELEMENTO */
    margin-top: 60px; /* DEFINE A MARGEM NO TOP DO ELEMENTO */
}

/* GAMBIARRA - xD */
main section .banner-site-1 {
    background-color: var(--color-section-1);
}

main section#historia-da-liga {
    display: flex;
    align-items: center;
    padding: 0 80px;
    justify-content: space-around;
    background-color: var(--color-section-2);
}

main section#historia-da-liga .content {
    display: grid;
    gap: 20px;
    text-align: justify;
}
/* main section .banner-site-2 {
    background-color: var(--color-section-2);
} */

/* main section .banner-site-2 img {
    display: flex;
    width: 800px;
    margin: 0 auto;
} */
/* main section .banner-site-1 {
    height: 639px;
} */


/* @media screen and (max-width: 768px) {
    .menu-desktop {
        display: none;
    }
} */

@media screen and (max-width: 768px) {
    .menu-desktop {
        display: none;
    }
}

@media screen and (width: 1700px) {
    main section .banner {
        display: flex;
        height: 871px; 
    }
}